h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Alegreya";
    font-weight: bold;
    letter-spacing: 0.05em;
}
#about-code-for-btv {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
}
body > footer {
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #F1F1F1;
}
