body {
    padding-bottom: 2.0em;
    background-color: white;
    font-family: sans-serif;
    font-size: 62.5%;
    color: #555;
    text-align: center;
}
body > header,
body > section,
body > article,
body > footer {
    padding: 1.5em 5% 1.0em;
}
body > header > *,
body > section > *,
body > article > *,
body > footer > * {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body > header > article,
body > section > article,
body > article > article,
body > footer > article {
    width: 26%;
    display: inline-block;
    padding: 0 3% 2.0em;
    vertical-align: top;
}
#overview {
    padding-bottom: 4.0em;
    background-color: #4C99D3;
}
#overview.banner {
    padding-bottom: 1.0em;
}
#overview.hack-the-stacks {
    padding-bottom: 1.0em;
}
#next,
.next,
#code-for-btv {
    background-color: #CA1F35;
}
.callout {
    margin-top: 1px;
    background-color: #666;
}
#next article,
.next article,
.callout article,
#producers-partners-sponsors article,
#press article,
#credits article {
    width: 94%;
    text-align: center;
}
#recap {
    background-color: #F5F5F5;
}
#metrics,
#summary,
#event.hack-the-stacks article#about,
#code-for-btv article,
#schedule #june-1,
#schedule #june-2 {
    max-width: 400px;
    width: 43%;
}
#event.hack-the-stacks article#about {
    max-width: none;
}
#next article,
.next article,
.callout article {
    padding-bottom: 0.4em;
    text-align: left;
}
#producers-partners-sponsors {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
#results,
#projects,
#press {
    border-bottom: 1px solid #AAA;
}
#press {
    background-color: #F5F5F5;
}
#tracks {
    padding-bottom: 0;
}
body > footer p,
body > footer li,
body > footer a {
    color: #AAA;
}
body > footer p,
body > footer ul,
body > footer ol {
    margin-top: 0.2em;
    text-align: center;
}
body > footer p,
body > footer li {
    font-size: 1.0em;
}
body > footer nav li {
    font-size: 1.4em;
}
body > footer a:hover,
body > footer a:focus {
    color: #BBB;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #results article,
    #projects article {
        width: 43%;
    }
}
@media screen and (max-width: 767px) {
    body > header > article,
    body > section > article,
    body > article > article,
    body > footer > article,
    #metrics,
    #summary,
    #event.hack-the-stacks article#about,
    #code-for-btv article,
    #schedule #june-1,
    #schedule #june-2 {
        width: 94%;
    }
}
