---
category: events
layout: events
title: National Day of Civic Hacking in Burlington, Vermont
head: National Day of Civic Hacking
subhead: in Burlington, Vermont
description: Join thousands of participants from around the world for National Day of Civic Hacking at Generator in Burlington.
featured: ["homepage"]
time:
 - dtstart: 2014-05-31 10:00:00
   dtend: 2014-05-31 16:00:00
 - dtstart: 2014-06-01 10:00:00
   dtend: 2014-06-01 16:00:00
venue:
 - text: Generator
   link: http://generatorvermont.com/
 - text: Memorial Auditorium Annex
 - text: 250 Main Street
 - text: Burlington, VT 05401
venue_note: <i class="fa fa-wheelchair"></i> The venue is handicapped accessible.
registration_required: true
registration_description: Please RSVP to attend this hackathon. <strong>Don't fret—it's free!</strong> RSVP separately for the <a href="http://www.meetup.com/CodeForBTV/events/181476952/">Code for BTV Birthday Celebration</a>.
registration_url: http://www.meetup.com/CodeForBTV/events/181473382/
sidebar:
 - heading: Event Preview
   text: <p>Not sure what to expect at National Day of Civic Hacking? Join Code for BTV and <a href="http://www.girldevelopit.com/chapters/burlington">Girl Develop It Burlington</a> for an event preview, where we'll explore some of the projects for National Day of Civic Hacking. <a href="http://www.meetup.com/CodeForBTV/events/175009562/">RSVP <i class="fa fa-arrow-circle-right"> </i></a></p>
 - heading: Code for BTV Birthday Celebration
   text: <p>Celebrate the first year of Code for BTV on the Burlington waterfront starting after the first day of National Day of Civic Hacking on Saturday, May 31. Families and friends are welcome! This birthday celebration will be part of other festivities happening on the Burlington waterfront that evening. <a href="http://www.burlingtoncityarts.org/BCACenter/Event.aspx?id=16102">Pathways Past/Present</a>, located in close proximity at the Moran Plant, combines interactive installations and performances by local high school students and professional artists. <a href="http://www.meetup.com/CodeForBTV/events/181476952/">RSVP <i class="fa fa-arrow-circle-right"> </i></a></p>
---
<article>
    <div class="media">
        <img src="/img/events/national-day-of-civic-hacking-2014-780x320.jpg" alt="National Day of Civic Hacking" class="img-responsive" />
    </div>
    <h1>Improve Your Neighborhood and Community through Technology</h1>
    <p class="lead">Join thousands of participants from around the world for National Day of Civic Hacking at Generator. Organized by Code for BTV, the Burlington event will bring together software developers, technology integrators, designers, makers and civic hackers to improve our neighborhoods and communities through technology.</p>
    <nav class="anchor-nav" role="navigation">
        <ol>
            <li><a href="#sponsors">Partners &amp; Sponsors</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#projects">Projects</a></li>
        </ol>
    </nav>
    <p>You don't need to be an expert to participate; you just have to care about your neighborhood and community. Participants will work on projects in the following areas:</p>
    <ul>
        <li>Food Systems &amp; Agriculture</li>
        <li>Renewable &amp; Sustainable Energy</li>
        <li>Arts &amp; Culture</li>
        <li>Human-powered Recreation</li>
    </ul>
    <p>We'll discuss some of these projects at the <a href="/events/2014/05/27/hack-night/">Event Preview</a>.</p>
</article>
<article id="sponsors">
    <h1>Partners &amp; Sponsors</h1>
    <ol class="sponsor-grid sponsors-tier-1">
        <li><a href="http://foundline.com/"><img src="/img/logos/found-line-500x188.png" alt="Found Line" /></a></li>
        <li><a href="http://generatorvermont.com/"><img src="/img/logos/generator-500x208.png" alt="Generator" /></a></li>
        <li><a href="http://www.enjoyburlington.com/"><img src="/img/logos/burlington-parks-recreation-and-waterfront-500x191.jpg" alt="Burlington Parks, Recreation &amp; Waterfront" /></a></li>
        <li class="grid-wide"><a href="http://www.pcc.com/"><img src="/img/logos/physicians-computer-company-500x104.jpg" alt="PCC | Pediatric EHR Solutions" /></a></li>
        <li class="grid-wide"><a href="http://www.dealer.com/"><img src="/img/logos/dealer-dot-com-dealertrack-technologies-500x65.png" alt="Dealer.com | A Dealertrack Technologies Solution" /></a></li>
        <li class="grid-wide"><a href="http://www.uvm.edu/~ovpr/"><img src="/img/logos/the-university-of-vermont-outline-2color-500x128.jpg" alt="The University of Vermont" /><small>Office of the Vice President for Research</small></a></li>
        <li><a href="http://frontporchforum.com/"><img src="/img/logos/front-porch-forum-500x194.jpg" alt="Front Porch Forum" /></a></li>
    </ol>
    <ol class="sponsor-grid sponsors-tier-2">
        <li><a href="http://www.burlingtonvt.gov/mayor/"><img src="/img/logos/seal-of-the-city-of-burlington-vt-275x273.png" alt="The City of Burlington, VT" /><small>Mayor's Office</small></a></li>
        <li><a href="http://codeforamerica.org/"><img src="/img/logos/code-for-america-400x161.jpg" alt="Code for America" /></a></li>
        <li><a href="http://burlingtontelecom.com/"><img src="/img/logos/burlington-telecom-500x196.png" alt="Burlington Telecom" /></a></li>
        <li><a href="https://www.burlingtonelectric.com/"><img src="/img/logos/burlington-electric-department-500x365.png" alt="Burlington Electric Department" /></a></li>
        <li class="grid-wide"><a href="http://www.cctv.org/"><img src="/img/logos/cctv-center-for-media-and-democracy-500x112.jpg" alt="CCTV Center for Media &amp; Democracy" /></a></li>
        <li class="grid-wide"><a href="http://greenmountainsoftware.com/"><img src="/img/logos/green-mountain-software-500x71.jpg" alt="Green Mountain Software" /></a></li>
        <li><a href="http://vtrural.org/"><img src="/img/logos/vermont-council-on-rural-development-325x208.jpg" alt="Vermont Council on Rural Development" /><small>Vermont Council on Rural Development</small></a></li>
        <li class="grid-wide"><a href="http://www.clearbearing.com/"><img src="/img/logos/clearbearing-500x75.jpg" alt="ClearBearing" /></a></li>
        <li class="grid-wide"><a href="http://www.vtdesignworks.com/"><img src="/img/logos/vermont-design-works-500x126.jpg" alt="Vermont Design Works" /></a></li>
        <li><a href="http://www.burlingtonvt.gov/CEDO"><img src="/img/logos/cedo-500x341.jpg" alt="CEDO" /></a></li>
        <li><a href="http://www.girldevelopit.com/chapters/burlington"><img src="/img/logos/girl-develop-it-500x499.png" alt="Girl Develop It" /><small>Burlington</small></a></li>
    </ol>
    <ol class="sponsor-grid sponsors-tier-3">
        <li><a href="http://www.champlainmakerfaire.com/"><img src="/img/logos/champlain-mini-maker-faire-500x176.jpg" alt="Champlain Mini Maker Faire" /></a></li>
        <li><a href="http://www.logicsupply.com/"><img src="/img/logos/logic-supply-500x153.png" alt="Logic Supply" /></a></li>
        <li><a href="http://bigheavyworld.com/"><img src="/img/logos/big-heavy-world-500x474.png" alt="Big Heavy World" /></a></li>
        <li><a href="http://www.fletcherfree.org/"><img src="/img/logos/fletcher-free-library-500x793.jpg" alt="Fletcher Free Library" /></a></li>
        <li><a href="http://www.burlingtoncityarts.org/"><img src="/img/logos/burlington-city-arts-500x215.png" alt="Burlington City Arts" /></a></li>
        <li><a href="http://vermontmakers.org/"><img src="/img/logos/vermont-makers-500x135.jpg" alt="Vermont Makers" /></a></li>
        <li><a href="http://vermontresiliencelab.net/">Vermont Resilience Lab</a></li>
        <li><a href="http://newmoran.org/"><img src="/img/logos/new-moran-500x200.jpg" alt="New Moran | A Redevelopment Proposal for Burlington's Moran Plant" /><small>New Moran, Inc</small></a></li>
        <li><a href="http://btvignite.com/"><img src="/img/logos/btv-ignite-500x231.png" alt="BTV Ignite" /></a></li>
    </ol>
    <h2>National Sponsors</h2>
    <ol class="sponsor-grid sponsors-national">
        <li class="grid-wide"><a href="http://software.intel.com/codeforgood"><img src="/img/logos/intel-code-for-good-400x109.jpg" alt="Intel | Code for Good" /></a></li>
        <li><a href="http://www.knightfoundation.org/"><img src="/img/logos/knight-foundation-170x86.jpg" alt="Knight Foundation" /></a></li>
        <li><a href="http://www.socrata.com/"><img src="/img/logos/socrata-165x45.jpg" alt="Socrata" /></a></li>
        <li><a href="http://www.yahoo.com/"><img src="/img/logos/yahoo-165x45.jpg" alt="Yahoo!" /></a></li>
    </ol>
</article>
<article id="schedule">
    <h1>Schedule</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">Saturday</td>
                    <td>10:00AM</td>
                    <td>Welcome and Opening Plenary</td>
                </tr>
                <tr>
                    <td>12:30PM</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>12:30PM - 2:00PM</td>
                    <td>Laser Cutter &amp; 3D Printer Demos</td>
                </tr>
                <tr>
                    <td>5:00PM</td>
                    <td><a href="/events/2014/05/code-for-btv-birthday-celebration/">Code for BTV Birthday Celebration</a> <small class="text-muted">Waterfront Shelter at Waterfront Park</small></td>
                </tr>
                <tr>
                    <td rowspan="4">Sunday</td>
                    <td>10:00PM</td>
                    <td>Doors Open</td>
                </tr>
                <tr>
                    <td>10:00AM - 11:30AM</td>
                    <td>Laser Cutter &amp; 3D Printer Demos</td>
                </tr>
                <tr>
                    <td>12:30PM</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>3:00PM</td>
                    <td>Closing Plenary and Project Demos</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article id="projects">
    <h1>Projects</h1>
    <p>A variety of projects have been prepared for National Day of Civic Hacking. Some of these projects are ongoing, while others are new. We have collaborated with the City of Burlington as well as nonprofits to surface these projects. Additional details will be available at the event, and more projects will continue to be added as the event nears.</p>
{% if site.data.2014-national-day-of-civic-hacking-projects %}
    {% for project in site.data.2014-national-day-of-civic-hacking-projects %}
    <article>
        <nav>
            <ul>
                <li>
        {% unless project.tracks contains "Food Systems & Agriculture" %}
                    <del>
        {% endunless %}
                    <span class="fa-stack fa-lg" title="Food Systems &amp; Agriculture">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Food Systems &amp; Agriculture</span>
        {% unless project.tracks contains "Food Systems & Agriculture" %}
                    </del>
        {% endunless %}
                </li>
                <li>
        {% unless project.tracks contains "Renewable & Sustainable Energy" %}
                    <del>
        {% endunless %}
                    <span class="fa-stack fa-lg" title="Renewable &amp; Sustainable Energy">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Renewable &amp; Sustainable Energy</span>
        {% unless project.tracks contains "Renewable & Sustainable Energy" %}
                    </del>
        {% endunless %}
                </li>
                <li>
        {% unless project.tracks contains "Arts & Culture" %}
                    <del>
        {% endunless %}
                    <span class="fa-stack fa-lg" title="Arts &amp; Culture">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Arts &amp; Culture</span>
        {% unless project.tracks contains "Arts & Culture" %}
                    </del>
        {% endunless %}
                </li>
                <li>
        {% unless project.tracks contains "Human-powered Recreation" %}
                    <del>
        {% endunless %}
                    <span class="fa-stack fa-lg" title="Human-powered Recreation">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="sr-only">Human-powered Recreation</span>
        {% unless project.tracks contains "Human-powered Recreation" %}
                    </del>
        {% endunless %}
                </li>
            </ul>
        </nav>
        <div class="description">
            <header>
                <h1>{{ project.title }}</h1>
        {% if project.organizations.size > 0 %}
                <p>{{ project.organizations | join: "; " }}</p>
        {% endif %}
            </header>
            {{ project.description | markdownify }}
        </div>
    </article>
    {% endfor %}
{% endif %}
</article>
