<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="//openfontlibrary.org/face/alegreya" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{ content }}
    <footer>
        <nav>
            <ul>
                <li><a href="https://twitter.com/CodeForBTV">@CodeForBTV</a></li>
                <li><a href="http://codeforbtv.tumblr.com/">Tumblr</a></li>
                <li><a href="https://github.com/codeforbtv">GitHub</a></li>
                <li><a href="http://eepurl.com/zjEWf">Newsletter</a></li>
                <li><a href="mailto:info@codeforbtv.org">info@codeforbtv.org</a></li>
            </ul>
        </nav>
        <p>Code for BTV is a <a href="http://brigade.codeforamerica.org/">Code for America Brigade</a> in Burlington, VT.</p>
        <p><strong>Font:</strong> <a href="http://openfontlibrary.org/en/font/alegreya">Alegreya</a> by <a href="http://openfontlibrary.org/en/font/alegreya">Juan Pablo del Peral</a> <small>[<a href="http://scripts.sil.org/OFL">OFL (SIL Open Font License)</a>]</small></p>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
