<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/social-buttons.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="//openfontlibrary.org/face/alegreya" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{ content }}
    <section id="about-code-for-btv">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1>About Code for BTV</h1>
                    <p>Code for BTV is an official <a href="http://brigade.codeforamerica.org/">Code for America Brigade</a> that facilitates sustainable collaborations on civic software and open data projects between coders, designers, and organizations (both governmental and non-governmental) in the greater Burlington, Vermont area. Code for BTV hosts events for civic hackers to come together and work on building and reusing civic apps and support open data initiatives.</p>
                    <blockquote>
                        <p>"Burlington's membership and participation in the Code for America Brigade will allow us to continue innovating within our City and provide a tremendous opportunity to collaborate with other innovative cities around the country."</p>
                        <small class="pull-right"><cite>Burlington Mayor Miro Weinberger</cite></small>
                    </blockquote>
                    <p>Code for BTV has engaged over 60 civic hackers on well over 20 projects with an estimated 2,000 hours of volunteer time contributed since its launch with the National Day of Civic Hacking in June of 2013.  Code for BTV has held monthly meetups in addition to two major hackathons, the National Day of Civic Hacking and Hack the Stacks: Civic Hacking at Fletcher Free Library.</p>
                    <p>Code for BTV Brigade Captains are <a href="mailto:bholt@codeforamerica.org">Bradley Holt</a> and <a href="mailto:jpelletier@codeforamerica.org">Jason Pelletier</a>. Special thanks to James Lockridge from Big Heavy World for his ongoing efforts to start and support the Brigade.</p>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Follow &amp; Contact</h1>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <ul class="list-unstyled">
                                    <li><a href="https://twitter.com/CodeForBTV"><i class="fa fa-twitter"></i> @CodeForBTV</a></li>
                                    <li><a href="http://codeforbtv.tumblr.com/"><i class="fa fa-tumblr"></i> Tumblr</a></li>
                                    <li><a href="https://github.com/codeforbtv"><i class="fa fa-github"></i> GitHub</a></li>
                                    <li><a href="http://eepurl.com/zjEWf"><i class="fa fa-envelope"></i> Newsletter</a></li>
                                </ul>
                            </div>
                            <div class="list-group-item">
                                <address>
                                    <strong>Code for BTV</strong><br />
                                    <a href="mailto:info@codeforbtv.org">info@codeforbtv.org</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <h1 class="h4">Website Credits</h1>
            <ul class="list-unstyled">
                <li><strong>Design Framework:</strong> <a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                <li><strong>Icons &amp; Buttons:</strong> <a href="http://glyphicons.com/">Glyphicons</a>, <a href="http://fontawesome.io/">Font Awesome</a>, <a href="http://noizwaves.github.io/bootstrap-social-buttons/">Social Buttons for Twitter Bootstrap</a></li>
                <li><strong>Font:</strong> <a href="http://openfontlibrary.org/en/font/alegreya">Alegreya</a> by <a href="http://openfontlibrary.org/en/font/alegreya">Juan Pablo del Peral</a> <small>[<a href="http://scripts.sil.org/OFL">OFL (SIL Open Font License)</a>]</small></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
